.grid-full-height {
    height: calc(100vh - 80px);
}

.div-full-height {
    height: calc(100vh - 80px);
    width: calc(100% - 80px);
}

.background-border {
    height: calc(100vh - 40px);
    width: calc(100% - 40px);
}

.div-fit {
    height: calc(100%);
    width: calc(100%);
}