/* style.css */


/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    border: 0; 
    outline: 0;
  }

body {
    font-family: "Shree Devanagari 714";
    line-height: 1.5;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    height: 100vh;
}
a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.fit-content {
    height: fit-content;
    flex-basis: content;
    width: fit-content;
}

.visible {
    overflow: visible;
}

.hidden {
    overflow: hidden;
}

.stack1 {
    position: absolute;
    z-index: 1;
}

.stack0 {
    position: absolute;
    z-index: 0;
}

.stack-1 {
    position: absolute;
    z-index: -1;
}

.blur {
    backdrop-filter: blur(5px);
}

.background-box {
    height: 80 vh;
    width: 97vw;
    background: #388FE8;
    position: absolute;
    z-index: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    align-items: center;
    justify-content: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
}

.box {
    box-sizing: border-box;
    padding: 50px;
    border: 1px solid #ffffff;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.twenty-padding {
    padding: 20px;
}

.vert-line {
        border-left: .5em solid black;
        height: 85vh;
        
}



/* Colors */

.whitesmoke-background {
    background-color: #F4F4F4;
}

.whitesmoke-font {
    color: #F4F4F4;
}

.heathered-gray-background {
    background-color: #8e8d8a;;
}

.heathered-gray-font {
    color: #8e8d8a;
}

.sea-fog-background {
    background-color: #DFDDD3;
}

.sea-fog-font {
    color: #DFDDD3;
}

.narvik-background {
    background-color: #eae7dc;
}

.narvik-font {
    color: #eae7dc;
}

.flamingo-background {
    background-color: #e85a4f;
}

.flamingo-font {
    color: #e85a4f
}

.geraldine-background {
    background-color: #e98074;
}

.geraldine-font {
    color: #e98074;
}

.turquoise-blue-background {
    background-color: #43E8E4;
}

.turquoise-blue-font {
    color: #43E8E4;
}

.blue-background {
    background-color: #2D649C;
}

.blue-font {
    color: #2D649C;
}

.raffia-background {
    background-color: #D8C3A5;
}

.raffia-font {
    color: #D8C3A5;
}





/* Typography */

.light_font {
    font-weight: 100;
}

.normal-line-height {
    line-height: 1.5;
}

.close-letter-spacing {
    letter-spacing: -.05em;
}

.xx-large-font {
    font-size: calc(95px + (200 - 95) * ((100vw - 300px) / (1600 - 300)));
}

.x-large-font {
    font-size: calc(64px + (128 - 64) * ((100vw - 300px) / (1600 - 300)));
}

.large-font {
    font-size: calc(48px + (95 - 48) * ((100vw - 300px) / (1600 - 300)));
}

.medium-font {
    font-size: calc(32px + (64 - 32) * ((100vw - 300px) / (1600 - 300)));
}

.small-font {
    font-size: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.x-small-font {
    font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.firstcharacter {
    float: left;
    font-family: 'Knockout HTF66-FullFlyweight';
    font-size: 100px;
    line-height: 61px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

.filena-thin {
    font-family: "Filena-Thin";
}

.filena-semibold {
    font-family: "Filena-SemiBold";
}

.filena-bold {
    font-family: "Filena-Bold";
}

.blackout-midnight {
    font-family: "Blackout-Midnight";
}

.blackout-2am {
    font-family: "Blackout-2AM";
}



/* Page, Border, and Content Containers 
.page-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.content-container {
    background-color: inherit;
    width: 100vw;
    margin: 20px;
    border: 20px solid black;
    overflow: hidden;
    
}

*/



.grid-container {
    border: 20px solid black;
    background-color: black;
    margin: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr .5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.skills-grid {
    display: grid;
    width: 40vw;
}


.skills-content {
    justify-content: space-around;
}

.skills-header {
    width: 20vw;
    background-color: black;
    
}

.skills-header img {
    align-self: flex-start;
    background-color: black;
    
}

.product-design {
    
    
}

.ux-ui {
    
}

.concept-strategy {
    
}

.user-flow {
    
}

.wireframes {
    
}

.information-arch {
    
}

.figma {
    
    
}

.coding {
   
   
}

.work-grid {
    display: grid;
    width: 100%;
    height: 100%;
    
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.border {
    border: 20px solid black;
    margin: 20px;
}

.grid-container > div, a{
    padding: 20px;
}

.div-fit {
    
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    overflow: hidden; 
    width: fit-content;
    height: fit-content;
}



.name {
    grid-column: span 5;
    grid-row: span 2;
}

.about {
    grid-row: span 2;
    width: 134px;
    max-height: 373.156px;
}

.work {
    grid-row: span 3;
    width: 134px;
    
}




.sub {
    grid-column: span 4;
    grid-row: span 1;
}

.role {
    grid-column: span 5;
    grid-row: span 2;
}
   
#firstPage .fp-bg {
    background-image: url("../images/footprint.jpg");
    background-size: cover;
    background-position: center 80%;
    
}

#secondPage .fp-bg {
    background-image: url("../images/adult-it.jpg");
    background-size: cover;
    background-position: center 80%;
}

#thirdPage .fp-bg {
    background-image: url("../images/mental-health.jpg");
    background-size: cover;
    background-position: center 80%;
}

.case-study-content-container {
    justify-content: flex-end;
    align-items: flex-end;
}

.case-study-content {
    margin: 100px;
    text-align: right;
    width: 50vw;
    color: #DFDDD3;
    border: .5px solid rgba(0,0,0, 0.8);
    padding: 50px;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
}

.case-study-border {
    border: 20px solid #eae7dc;
    
}

.case-study-content > p, h2 {
    font-family: "Filena Thin";

}

.case-study-content > h1 {
    font-family: "Filena Bold";
    padding-top: 50px;
}

/* Style the header: fixed position (always stay at the top) */
.left {
    position: fixed;
    left: 0;
    z-index: 2;
    height: 100%;
    background-color: #f1f1f1;
  }

.progress-container {
    height: 100%;
    width: 20px;
    background: transparent;
  }
  
  .progress-bar {
    height: 0%;
    width: 20px;
    background: #4caf50;
  }






/* Contact Me */

.menu {
    border-radius: 50%;
    background-color: transparent;
    width: 100px;
    height: 100px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    position: absolute;
}

.inner-menu {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mail {
    object-fit: cover;
    height: 30px;
    width: 30px;
    object-position: 50% 50%;
}



/* Logo */

.logo {
    top: 10px;
    left: 1%;
    position: absolute;
    z-index: 2;
    font-family: "Shree Devanagari 714";
}

/* Title */

.title {
    width: 66.66%;
    font-family: "Shree Devanagari 714";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    line-height: .75;
    padding-top: 50px;
    padding-left: 50px;
    font-family: "Filena-SemiBold";
}

.subheader {
    line-height: .75;
    padding-left: 50px;
    font-family: "Shree Devanagari 714";
}

.description p {
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
}

/* Work, About, Contact */

.work-about-contact-container {
    width: 33.34%;
}

.work-about-contact-container-condensed {
    width: 10%;

}

.work-container {
    height: 33.4%;
}

.work-container img, .about-container img, .contact-container img {
    object-fit: cover;
    height: 40vh;
    width: 40vw;
    object-position: 5% 0%;
    margin-top: 10px;
    margin-left: 30px;
}

.about-container{
    height: 33.3%;
}

.contact-container{
    height: 33.3%;
}

.paris {
    object-fit: scale-down;
    height: 90vh;
    bottom: 0;
    position: absolute;
}

/* About Page */
        
.about-self-portrait {
    object-fit: contain;
    height: 100vh;
    
    
}

.circle {
    height: 1160px;
    width: 1160px;
    border-radius: 50%;
    background-color: transparent;
    border: #8e8d8a solid 1px;
    bottom: -400px;
    
}

.mission {
    text-align: right;
    position: absolute;
    bottom: 0;
}

.mission h2 {
    line-height: 1.0;
    padding-bottom: 100px;
    padding-right: 100px;
}

.my-mission {
    object-fit: scale-down;
    top: 50px;
    width: 100vw;
    object-position: 50% 50%;
    position: absolute;
}

.how-I-got-here {
    text-align: center;
    line-height: 1.5;
    width: 30em;
    margin-top: 50px;
    margin-bottom: 50px;
}



.history {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.history h1 {
    font-family: ObjectSans-Regular;
}

.history_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.history_icons div {
    padding-top: 50px;
    text-align: center;
    width: 250px;
    padding-bottom: 50px;
}

.history_icons img {
    object-fit: scale-down;
    max-height: 50px;
}

.history_paragraph {
    padding-bottom: 50px;
}

/*.hr_home {
    border: .5px solid rgba(41,41,41,.05);
    width: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.left_nav {
    width: 100px;
    position: fixed;
    border-radius: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(5px);
    border-right: 1px solid black;
    z-index: 2;
}
nav {  
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 35%;
    margin: auto;
}
nav a {
    text-decoration: none;
    writing-mode: vertical-rl;
    margin: auto;
    color: black;
}
.header_container_home {
    height: 100vh;
    width: 100vw;
    background-color: #EAE7DC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header_content {
    align-self: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-left: 100px;
    font-family: ObjectSans-Regular;
    font-weight: 100;
} */

/*
header h1 {
    font-size: 95px;
}
header h2 {
    font-size: 48px;
}
header h3 {
    font-size: 32px;
}
.grid_container_projects {
    display: grid;
    grid-template-areas: 
    'footprint footprint footprint'
    'adult-it adult-it adult-it';
    gap: 0px;
    margin-top: -100px;
    margin-bottom: -100px;
}
.projects {
    overflow: hidden;
    height: 100vh;
}
.footprint {
    grid-area: footprint;
    background-color: light cyan;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}
.footprint_description {
    padding-top: 125px;
    padding-bottom: 125px;
    padding-right: 100px;
    padding-left: 0px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.adult-it {
    grid-area: adult-it;
    background-color: lightgreen;
    color: black;
    display: flex;
    flex-direction: row;
    text-align: left;
}
.adult-it_description {
    padding-top: 125px;
    padding-bottom: 125px;
    padding-left: 100px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.extra1 {
    grid-area: extra1;
}
.extra2 {
    grid-area: extra2;
}
.extra3 {
    grid-area: extra3;
}
.extra4 {
    grid-area: extra4;
}
.extra4 {
    grid-area: extra4;
}
.project_images {
    width: 75%;
}
.pollution_image {
    object-fit: scale-down;
    width: 200px;
    
}
footer {
    display: flex;
    flex-direction: row;
    color: black;
    text-align: center;
    margin-left: 100px;
    justify-content: center;
}
footer p {
    padding: 25px;
    bottom: 0;
}
.about_container {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    background-color: lightcoral;
    justify-items: center;
    align-items: center;
}
.about_imagesheader_container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}
.about_header {
    flex-basis: 35%;
    padding-left: 100px;
}
.about_header h1 {
    font-size: 48px;
}
.about_content {
    width: 600px;
    text-align: left;
}
.about_paragraph {
    padding-bottom: 50px;
}
.skills_icons {
    height: 50px;
    width: 50px;
    overflow: hidden;
}
.skills_icons img {
    object-fit: cover;
    height: 100px;
    object-position: 50% 50%;
}
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        padding: 20px;
        justify-content: start;
    }
    .header_content {
        padding: inherit;
    }
    .left_nav {
        display: none;
    }
    .workGrid {
        display: grid;
        grid-template-areas:
        'footprint'
        'adult-it';
        grid-gap: 15px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.mobile_nav {
    display:none;
} */